{% block head %}
<title>Profile</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}
{% block content %}
 <div class="container-fluid bg">
  <div class="row" id="content">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <h1 id="headings">Profile Page</h1>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

              <!-- profile picture -->
              <img src="img/profile.jpg" class="thumbnails center-block" />

              <!-- edit user modal -->
              <button class="btn btn-default center-block"><a id="modal-469485" href="#modal-container-469485" role="button" class="btn" data-toggle="modal">Edit User Profile</a></button>
              
              <div class="modal fade" id="modal-container-469485" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                       
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                        Edit Account Information
                      </h4>
                    </div>
                    
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="firstName">First Name</label>
                          <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                          <label for="lastName">Last Name</label>
                          <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">What is your gender?</label>
                            <select class="form-control" id="gender">
                              <option>-</option>
                              <option>Male</option>
                              <option>Female</option>
                              <option>Rather Not Say</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Who are you looking to be matched with?</label>
                            <select class="form-control" id="genderPreference">
                              <option>-</option>
                              <option>Male</option>
                              <option>Female</option>
                              <option>No Preference</option>
                            </select>
                        </div>

                        <div class="form-group">
                          <p align="center"><strong>For the following statements, give your rating on how much you agree with each.<br>1 = Strongly Disagree, 5 = Strongly Agree</strong></p>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                       
                      <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                      </button> 
                      <button type="button" class="btn btn-primary">
                        Save changes
                      </button>
                    </div>

                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-2"></div>
          </div>

          <!-- displayed info -->
          <div class="row">
            <div class="col-md-12">
              <form class="forms">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="First Name" disabled="true">
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control ds" id="lastName" placeholder="Last Name" disabled="true">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">What is your gender?</label>
                    <select class="form-control" id="gender">
                      <option>-</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Rather Not Say</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Who are you looking to be matched with?</label>
                    <select class="form-control" id="genderPreference">
                      <option>-</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>No Preference</option>
                    </select>
                </div>

                <div class="form-group">
                  <p align="center"><strong>For the following statements, give your rating on how much you agree with each.<br>1 = Strongly Disagree, 5 = Strongly Agree</strong></p>
                </div>

                <button type="submit" class="btn btn-success btn-block">Submit</button>

              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}