{% extends 'layout.html' %}
{% block head %}
<title>Signup</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}
{% block content %}
  <div class="container-fluid bg">
    
    <div class="row">

      <div class="col-md-3"></div>
      <div class="col-md-6">
        
        <div class="row" id="form">

          <p><h1 id="heading">Sign Up</h1></p>

          <form method="post" action="{{url_for('signup')}}">
            {{ form.csrf_token }}
            <!--To display an error if a required field was not entered-->
            {% for err in form.first_name.errors %}
            <div class="flash text-center">{{err}}</div>
            {% endfor %}
            {% for err in form.last_name.errors %}
            <div class="flash text-center">{{err}}</div>
            {% endfor %}
            {% for err in form.user_email.errors %}
            <div class="flash text-center">{{err}}</div>
            {% endfor %}
            {% for err in form.user_pass.errors %}
            <div class="flash text-center">{{err}}</div>
            {% endfor %}
            {% for err in Q.q_one.errors %}
            <div class="flash text-center">{{err}}</div>
            {% endfor %}
            <div class="form-group"> 
                {{ form.first_name.label }}
                {{ form.first_name(class="form-control")}}
            </div>
            <div class="form-group">
                {{ form.last_name.label }}
                {{ form.last_name(class="form-control")}}
            </div>
            <div class="form-group">
                {{ form.user_email.label }}
                {{ form.user_email(class="form-control")}}
            </div>
            <div class="form-group">
                {{ form.user_pass.label }}
                {{ form.user_pass(class="form-control")}}
            </div>

            <div class="form-group">
                {{ form.user_gender.label }}
                {{ form.user_gender(class="form-control")}}
            </div>

            <div class="form-group">
                {{ form.user_want_gender.label }}
                {{ form.user_want_gender(class="form-control")}}
            </div>
              <div class="form-group">
                {{ form.take_coffee.label }}
                {{ form.take_coffee(class="form-control")}}
            </div>

            <div class="form-group">
              <p align="center"><strong>For the following statements, give your rating on how much you agree with each.<br>1 = Strongly Disagree, 5 = Strongly Agree</strong></p>
            </div>

                {{ Q.q_one.label }}
                {{ Q.q_one}}
                
                {{ Q.q_two.label }}
                {{ Q.q_two}}

                {{ Q.q_three.label }}
                {{ Q.q_three}}

                {{ Q.q_four.label }}
                {{ Q.q_four}}

                {{ Q.q_four.label }}
                {{ Q.q_five}}

                {{ Q.q_six.label }}
                {{ Q.q_six}}

                {{ Q.q_seven.label }}
                {{ Q.q_seven}}

                {{ Q.q_eight.label }}
                {{ Q.q_eight}}

                {{ Q.q_nine.label }}
                {{ Q.q_nine}}
                
                {{ Q.q_ten.label }}
                {{ Q.q_ten}}

                {{ Q.q_eleven.label }}
                {{ Q.q_eleven}}

                {{ Q.q_twelve.label }}
                {{ Q.q_twelve}}

                {{ Q.q_thirteen.label }}
                {{ Q.q_thirteen}}

                {{ Q.q_fourteen.label }}
                {{ Q.q_fourteen}}

                {{ Q.q_fifteen.label }}
                {{ Q.q_fifteen}}

                {{ Q.q_sixteen.label }}
                {{ Q.q_sixteen}}

                {{ Q.q_seventeen.label }}
                {{ Q.q_seventeen}}

                {{ Q.q_eighteen.label }}
                {{ Q.q_eighteen}}

                {{ Q.q_nineteen.label }}
                {{ Q.q_nineteen}}

                {{ Q.q_twenty.label }}
                {{ Q.q_twenty}}


            
            <button type="submit" class="btn btn-success btn-block">Submit</button>
            <a href="{{url_for('index')}}" class="btn btn-danger btn-block" role="button">Back</a>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
{% endblock %}

