{% extends 'layout.html' %}
{% block head %}
<title>Signup</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}
{% block content %}
  <div class="container-fluid bg">
    
    <div class="row">

      <div class="col-md-3"></div>
      <div class="col-md-6">
        
        <div class="row" id="form">

          <p><h1 id="heading">Sign Up</h1></p>

          <form method="post" action="{{url_for('signup')}}">
            <div class="form-group"> 
                {{ signup_form.csrf_token }}
                {{ signup_form.first_name.label }}
                {{ signup_form.first_name(class="form-control")}}
            </div>
            <div class="form-group">
                {{ signup_form.csrf_token }}
                {{ signup_form.last_name.label }}
                {{ signup_form.last_name(class="form-control")}}
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">What is your gender?</label>
                <select class="form-control" id="gender">
                  <option>-</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Rather Not Say</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Who are you looking to be matched with?</label>
                <select class="form-control" id="genderPreference">
                  <option>-</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>No Preference</option>
                </select>
            </div>

            <div class="form-group">
              <p align="center"><strong>For the following statements, give your rating on how much you agree with each.<br>1 = Strongly Disagree, 5 = Strongly Agree</strong></p>
            </div>
            {% for q in questions %}
            <!--Questionnaire-->
            {% endfor %}
              
            
            <button type="submit" class="btn btn-success btn-block">Submit</button>

            <a href="index.html" class="btn btn-danger btn-block" role="button">Back</a>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
{% endblock %}

