{% extends 'layout.html' %}
{% block head %}
<title>user</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/user_page.css')}}">
{% endblock %}
{% block content %}
<div class="container-fluid" style="background-color: black; margin-top: 60px;">
    <!--User Profile-->
    <div class="row">
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <!--Brew Matches-->
        <div class="col-md-4">
            <!--for loop; pass the names of the matches as well as the link to those users' pages-->
            <div class="row"><div class="col-md-12"><h4><a href="#"></a></h4></div></div>
        </div>
        <!--Likes-->
        <div class="col-md-8">
            
        </div>
    </div>
</div>
{% endblock %}