{% extends 'skeleton.html' %}
{% block content %}
<br>
<br>
<div class="content-fluid">
    <form class="row">
        <div class="col-sm-6 offset-md-3">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %} 